.container {
    background-color: white;
}

form {
    width: 40rem;
}

.form-control {
    margin-bottom: 1.4rem;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control label {
    margin-bottom: 0.7rem;
    font-size: 1.6rem;
}

.form-control input {
    padding: 1.5rem;
    border-radius: 100rem;
    border: 0.1rem solid rgb(184, 184, 184);
    width: 100%;
}

.form-control input:focus {
    outline: none;
}

.remember {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin-bottom: 3rem;
    font-size: 1.6rem;
}

.remember-col {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: start;
    column-gap: 0.6rem;
}

button {
    background-color: #5137f0;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    border: none;
    border-radius: 100rem;
    padding: 1.4rem;
    margin-bottom: 3rem;
}

button:hover {
    background-color: #654ff3;
}

.invalid input {
    border: 0.1rem solid #b40e0e;
    background-color: #fddddd;
}

.error {
    color: #ff5f5f;
    display: block;
    font-size: 1.4rem;
    padding: 0.3rem 0 0 1.2rem;
}

.forgotpw {
    font-size: 1.4rem;
}

.createaccount {
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 4rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: #5137f0;
    font-weight: 600;
}
