.container {
    background-color: #fff;
    width: 130rem;
    margin: 8rem auto;

    display: grid;
    grid-template-columns: repeat(2, 65rem);
    justify-content: center;
    align-items: start;
}

.col-login {
    padding: 3rem 5rem;
}

.login-header {
    margin-bottom: 2rem;
}

.login-header h1 {
    font-size: 3rem;
    margin-bottom: 0.6rem;
}

.login-header p {
    color: rgb(124, 124, 124);
    font-size: 1.5rem;
    font-weight: 500;
}

.col-login img {
    width: 13rem;
    margin-bottom: 2.5rem;
}

.googlelogin {
    background-color: #fff;
    color: black;

    display: flex;
    justify-content: center;
    border: 0.1rem solid rgb(184, 184, 184);
}

.googlelogin img {
    width: 5%;
    display: inline;
    margin: 0 0.5rem 0 0;
}

.googlelogin-text {
    display: inline;
    font-weight: 500;
    font-size: 1.4rem;
    align-self: center;
}

.col-wallpaper {
    background-image: url(../../img/syncee_frontend_test_wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

main {
    margin-bottom: 6.5rem;
}

footer .footer-text {
    color: rgb(124, 124, 124);
    font-size: 1.1rem;
    font-weight: 500;
}

.logged-text {
    font-size: 2rem;
}
